

.event strong {
    color: #333;
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}





















.event {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;  /* Default background color */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Smooth transition */
}

.event h2 {
    font-size: 1.5rem;
    color: #333;
}

.event p {
    font-size: 1rem;
    color: #555;
}
